$num-grid-col: 12;
$grid-gutter-width: 1.5rem;

%grid {
    display: flex;
    flex-wrap: wrap;
}

%col {
    flex-flow: column;
}

.grid {
    @extend %grid;

    @for $i from 1 through $num-grid-col {
        %col-#{$i} {
            @extend %col;
            width: percentage($i / $num-grid-col);
        }

        .col-#{$i} {
            @extend %col-#{$i};
        }

        %col-push-#{$i} {
            @extend %col;
            margin-left: percentage($i / $num-grid-col);
        }

        .col-push-#{$i} {
            @extend %col-push-#{$i};
        }
    }

    &--with-gutter {
        margin-left: -#{$grid-gutter-width};

        @for $i from 1 through $num-grid-col {
            .col-#{$i} {
                $gutter-col-width: percentage($i / $num-grid-col);

                margin-left: #{$grid-gutter-width};
                width: calc(#{$gutter-col-width} - #{$grid-gutter-width});
            }
        }
    }

    &--vertical-spacing {
        margin-top: -#{$grid-gutter-width};

        [class*="col-"] {
            margin-top: #{$grid-gutter-width};
        }
    }
}
