// Fonts
$_standard-font-family: 'Montserrat', sans-serif;

// Colours
$_color-white: #fff;
$_color-iron: #c7c9cb;
$_color-mountain-mist: #959595;
$_color-nero: #252525;
$_color-cloud-burst: #333b4d;
$_color-pelorous: #2ea6b1;
$_color-fountain-blue: #4dc3c5;

// Globals
$default-transition-timing: .3s;
$default-transition-delay: .5s;
$default-animation-timing: 1s;
$gutter-margin: 1rem; // How much space at the side of the row? (on screens smaller than container)
$column-margin: 1rem; // How much space between columns? (top and bottom)
$inner-padding: 2rem; // How much padding inside column elements? (where in container boxes or column wrappers)
$ribbon-background-color: $_color-fountain-blue;
$ribbon-color: $_color-white;

// Base
$body-font-stack: $_standard-font-family;
$body-background-color: $_color-white;
$body-color: $_color-nero;

// Defaults
$default-link-color: $_color-fountain-blue;
$default-overlay-color: rgba($_color-cloud-burst, .5);

// Page content
$page-content-border-bottom-color: $_color-white;

// Services
$services-color-list: $_color-cloud-burst, $_color-pelorous, $_color-mountain-mist;
$services-color: $_color-white;

// Banner
$banner-color: $_color-white;
