@media only screen and (max-width: 1240px) {
    .banner {
        padding: 3.75rem;
    }
}

@media only screen and (max-width: 1024px) {
    .banner {
        min-height: 30rem;
        padding: 2rem;
    }
}

