@media only screen and (max-width: 768px) {
    .contact__links .col-4 {
        width: 100%;
    }
}

@media only screen and (max-width: 678px) {
    .wpcf7-form .form__row {
        width: 100%;
    }

    .contact__links {
        font-size: 1.2rem;
    }
}
