.banner {
    @include background-cover;
    @include image-overlay;
    color: $banner-color;
    display: flex;
    min-height: 40rem;
    padding: 7.5rem 3.75rem;

    &__content {
        max-width: 40rem;
    }
}
