.landing-page {
  @include background-cover;
  align-items: center;
  background-image: url('./public/images/background-image.jpg');
  display: flex;
  height: 50rem;
  justify-content: center;
  min-height: 100vh;

  &__content {
    color: $landing-page-color;
    padding: 2rem;
    text-align: center;

    &-title {
      color: $landing-page-title-color;
      font-weight: 700;
      margin: 2rem 0;
      text-transform: uppercase;
    }
  }

  &__list {
    @extend %grid;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;

    &-item {
      margin-bottom: 1rem;
    }

    &-link {
      @include link-underline($landing-page-color);
    }
  }

  &__social {
    @extend %grid;
    justify-content: center;

    &-item {
      margin: 0 .2rem;
    }

    &-link {
      display: block;
      padding: 0 .5rem;
      transition: transform $transition-timing;

      &:hover {
        transform: translateY(-.4rem);
      }
    }
  }
}
