.projects {
    @include aspect-ratio(16, 9);
    @include background-cover;

    &__item {
        @include image-overlay($default-link-color);
        align-items: center;
        color: $projects-item-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 3.75rem;
        position: relative;

        &::before {
            transition: opacity $default-transition-timing;
            opacity: 0;
        }

        &:hover {
            .projects__item-content {
                opacity: 1;
            }

            &::before {
                opacity: .8;
            }
        }

        &-content {
            opacity: 0;
            transition: opacity $default-transition-timing;
        }

        &-description {
            font-size: .9rem;
        }
    }

    .title--with-underline::before {
        background-color: $projects-item-color;
        bottom: -1.5rem;
    }
}
