.projects {
    &__item {
        @include background-cover;
        @include image-overlay($default-link-color);
        align-items: center;
        color: $projects-item-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        min-height: 25rem;
        overflow: hidden;
        padding: 3.75rem;
        position: relative;

        &::before {
            opacity: 0;
            width: 102%;
            transition: opacity $default-transition-timing;
        }

        &:hover {
            .projects__item-content {
                opacity: 1;
                transform: scale(1);
            }

            &::before {
                opacity: .8;
            }
        }

        &-content {
            opacity: 0;
            transform: scale(.9);
            transition: opacity $default-transition-timing, transform $default-transition-timing;
        }

        &-description {
            font-size: .9rem;
        }
    }

    .title--with-underline::before {
        background-color: $projects-item-color;
        bottom: -1.5rem;
    }
}
