.services {
    &__item {
        color: $services-color;
        padding: 7.5rem 3.75rem;
    }

    .title--with-underline:before {
        background-color: white;
    }
}

@for $i from 1 through length($services-color-list) {
    .services__item:nth-of-type(#{length($services-color-list)}n + #{$i}) {
        background-color: nth($services-color-list, $i);
    }
}
