.button {
    background-color: transparent;
    border: 2px solid $button-default-color;
    color: $button-default-color;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    max-width: 100%;
    padding: .8rem 3rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: opacity $default-transition-timing;

    &:not(&--disabled):hover {
        opacity: .7;
    }

    &--full {
        width: 100%;
    }

    &--disabled {
        cursor: initial;
    }

    &--light {
        border-color: $button-light-color;
        color: $button-light-color;
    }
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;

    .button {
        margin: .5rem;
    }
}
