.page-content {
    border-bottom: 1.5rem solid $page-content-border-bottom-color;
    padding-bottom: 4rem;
    padding-top: 4rem;
    position: relative;
    width: 100%;
    z-index: 2;

    &--less-padding {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    &--no-padding {
        padding-bottom: 0;
        padding-top: 0;
    }

    &--top-padding {
        padding-top: 4rem;
    }

    &--bottom-padding {
        padding-bottom: 4rem;
    }

    &--min-height {
        align-items: center;
        display: flex;
        min-height: 80vh;
    }
}

.title {
    font-weight: bold;

    &--with-underline {
        display: block;
        margin-bottom: 3rem;
        position: relative;

        &::before {
            background-color: $default-link-color;
            bottom: -1rem;
            content: '';
            display: block;
            height: .25rem;
            left: 0;
            max-width: 100%;
            position: absolute;
            width: 8rem;
        }
    }

    &--centered-underline {
        text-align: center;

        &::before {
            @include horizontal-center(absolute);
        }
    }

    strong {
        font-weight: 900;
    }
}