.page-content {
    border-bottom: 1.5rem solid $page-content-border-bottom-color;
    padding-bottom: 8rem;
    padding-top: 8rem;
    position: relative;
    width: 100%;
    z-index: 2;

    &--less-padding {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    &--no-padding {
        padding-bottom: 0;
        padding-top: 0;
    }

    &--top-padding {
        padding-top: 8rem;
    }

    &--bottom-padding {
        padding-bottom: 8rem;
    }

    &--min-height {
        align-items: center;
        display: flex;
        min-height: 80vh;
    }

    &--fountain-blue {
        background-color: $_color-fountain-blue;

        .title--with-underline::before {
            background-color: $_color-white;
        }

        .wpcf7-form .form__submit .wpcf7-submit {
            @extend .button--light;
        }

        .wysiwyg a:not(.btn):not(.social__link) {
            @include link-underline($_color-white);
            color: $_color-white;
        }

        .social__link {
            color: $_color-white;
        }
    }
}

.inner-content {
    margin-bottom: 4rem;
    margin-top: 4rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.title {
    font-weight: bold;

    &--with-underline {
        display: block;
        margin-bottom: 3rem;
        position: relative;

        &::before {
            background-color: $default-link-color;
            bottom: -1rem;
            content: '';
            display: block;
            height: .25rem;
            left: 0;
            max-width: 100%;
            position: absolute;
            width: 8rem;
        }
    }

    &--centered-underline {
        text-align: center;

        &::before {
            @include horizontal-center(absolute);
        }
    }

    strong {
        font-weight: 900;
    }
}