%container-default {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter-margin;
    padding-right: $gutter-margin;
    width: 100%;
}

// Site wrapper, allows animating/transforming everything if required
.site-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.container {
    @extend %container-default;
    max-width: 1440px;

    &--medium {
        @extend %container-default;
        max-width: 1240px;
    }

    &--small {
        @extend %container-default;
        max-width: 1024px;
    }
}