* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }

    &::placeholder {
        transition: color $default-transition-timing;
    }

    &:focus::placeholder {
        color: transparent;
    }

    &::selection {
        background: lighten($default-link-color, 30%);
    }

    &::-moz-selection {
        background: lighten($default-link-color, 30%);
    }

    &:focus {
        outline-color: lighten($default-link-color, 30%);
        outline-offset: .2rem;
        outline-width: .1rem;
    }
}

html,
body {
    // Set the font size at the html level, so rems are also responsive
    @include responsive-text(14, 16);
    color: $body-color;

    // scss-lint:disable VendorPrefix DuplicateProperty
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern';
    -webkit-font-feature-settings: 'kern';

    font-feature-settings: 'kern';
    font-kerning: normal;
    margin: 0;
    padding: 0;
    position: relative;
    text-rendering: optimizeLegibility;
}

body {
    background-color: $body-background-color;
    color: $body-color;
    font-family: $body-font-stack;
    font-weight: 400;
    line-height: 1.4;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

p {
    line-height: 1.6;
}

h1,
h2 {
    font-size: 2.875rem;
}

h3 {
    font-size: 1.75rem;
}
